<head>
  <link rel="stylesheet" type="text/css" href="<%= url('./stylesheets/play.css') %>"/>
</head>
<body>

Welcome <%= @game.player.name %>

<div id="form_box">
  <form action='/action' method='post' name="action_form">
    <select name="player_choice" id="player_choice">
      <option value="0">Select Move:</option>
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
    <input type='submit' value='Submit' id='submit'>
  </form>
</div>

</body>
